@using TheBlogApplication.Models
@using TheBlogApplication.Services
@using Microsoft.AspNetCore.Identity
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject UserManager<BlogUser> userManager
@inject IImageService imageService
@model IPagedList<Blog>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col">
            <div class="row row-cols-1 row-cols-lg-2 gx-3 gy-4">
                @{ int count = 0;} 
                @foreach (var blog in Model)
                {
                    <div class="col">
                        <a  onmouseover="animateText(@($"blogDescription{count}"))" asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@blog.Id">
                            <img src="@imageService.DecodeImage(blog.ImageData, blog.ContentType)" class="img-fluid" alt="@blog.Name">
                        </a>
                        <div id=@($"blogDescription{count}") class="position-in-place border border-1 p-3">
                            <a asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@blog.Id">
                                <h2 class="text-capitalize">@blog.Name</h2>
                            </a>
                            <p class="mt-0 mb-2">
                                @blog.Desciption
                            </p>
                            <span class="text-muted">
                                @if (blog.Posts.Any())
                                {
                                    @blog.Posts.OrderByDescending(p => p.Created).First().Created.ToString("MMM dd, yyyy")
                                }
                                else
                                {
                                    @blog.Created.ToString("MMM dd, yyyy")
                                }
                            </span>
                        </div>
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="mt-3">
                            <a type="button" class="btn btn-sm btn-outline-primary rounded-0 text-capitalize" asp-action="Edit" asp-controller="Blogs" asp-route-id="@blog.Id">edit</a>
                            <a type="button" class="btn btn-sm btn-outline-danger rounded-0 text-capitalize" asp-action="Delete" asp-controller="Blogs" asp-route-id="@blog.Id">delete</a>
                        </div>
                    }
                </div>
                    count++;
                }
            </div>


            <!-- Pager-->
            <div class="d-flex justify-content-start mb-4 mt-4">
                <div>
                    @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }),
                        PagedListRenderOptionsBase.PageNumbersOnly)
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        function animateText(id) {
            $(id).css("opacity", "1");
            $(id).css("margin-top", "0");
        }
    </script>
}
