@using TheBlogApplication.Services
@using TheBlogApplication.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService imageService
@model IPagedList<Post>

@{
    ViewData["Title"] = "Index";
}

<div class="container">


    <div class="row">
        <div class="col-12 d-flex justify-content-center"><h5 class="text-uppercase section-title">latest posts</h5></div>
        <div class="col-2 col-md-1 d-block m-auto"><hr /></div>
    </div>

    @if (User.IsInRole("Administrator"))
    {
        <p>
            <a class="btn btn-outline-dark text-decoration-none" asp-action="Create">Create New</a>
        </p>
    }
    <div class="row row-cols-1 d-flex justify-content-center">

        @foreach (var item in Model)
        {
            <article id="main-article" class="col-lg-8 d-flex flex-column align-items-center">
                <div class="row w-100 gx-3">
                    <div class="col-1"></div>
                    <div id="post-date" class="col-1 pe-5 py-5">
                        <div class="text-uppercase d-flex flex-column align-items-center fw-bold">
                            <h2 class="display-4 text-primary fw-bold">@item.Created.ToString("dd")</h2>
                            <h5 class="text-black post-date-month">@item.Created.ToString("MMMM")</h5>
                        </div>
                    </div>
                    <div class="col p-5">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col">
                                <header class="text-uppercase">
                                    <a asp-action="Details" asp-route-slug="@item.Slug">
                                        <h2 class="text-uppercase">
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </h2>
                                    </a>
                                </header>
                                <div class="lead">@*@($"By {item.BlogUser.FullName}")*@</div>
                                <p>
                                    @Html.DisplayFor(modelItem => item.Abstract)
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 d-flex justify-content-end">
                        @if (User.IsInRole("Administrator"))
                        {
                            <a class="btn btn-sm btn-outline-primary rounded-0" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn-sm btn-outline-danger rounded-0" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </div>
                </div>

            </article>

        }
    </div>

    <!-- Pager-->
    <div class="row mb-4 mt-4">
        <div class="col d-flex justify-content-end">
            @Html.PagedListPager(Model, page => Url.Action("BlogPostIndex", new { id = Model.FirstOrDefault().BlogId, page = page }),
                PagedListRenderOptionsBase.PageNumbersOnly)
        </div>
        <div class="col-1 col-md-2"></div>
    </div>

</div>